<h1>Thông tin chung</h1><br>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title"><%= user.email %></h4>
    </div>
    <div class="modal-body">
        <ps>Email: <%= user.info.email %></p>
        <p>Họ: <%= user.info.firstname %></p>
        <p>Tên: <%= user.info.lastname %></p>
        <p>Số điện thoại: <%= user.info.phone %></p>
        <p>Địa chỉ: <%= user.info.address %></p>
    </div>
    <div class="modal-footer"></div>
</div>